{% extends 'base.html' %}
{% block contain %}

<div style="margin-top: 1%;margin-left: 17%;">
	<p>Update Inventory</p>
	<hr>
</div>

<div style="margin-left: 17%;margin-top: 2%;">
	<form action="" method="POST">{% csrf_token %}

{% for field in form.visible_fields %}
<br>
{{ field.label_tag }}<br>
{{ field }}
<br>
{% endfor %}
<br>
	<button style="float: left;" type="submit">Update</button>

</form>
</div>
<style media="screen">
  #id_product{
    width: 45%;
  }
</style>

{% endblock %}
