{% extends 'base.html' %}
{% block contain %}

<div class="container">
<div class="inner-container">
        <button id="myBtn">Create Product</button>
            <div id="myModal" class="modal">
                <div class="modal-content" style="width: 50%;">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Create Product</h2>
                    </div>
                    <div class="modal-body" style="margin-bottom: 10%;">
                      <form action="{% url 'product_create' %}" method="POST" enctype="multipart/form-data" style="margin-left: 8%;">{% csrf_token %}

                      {% for field in product_form.visible_fields %}
                      <br>
                      {{ field.label_tag }}<br>
                      {{ field }}
                      <br>
                      {% endfor %}
                      <button type="submit" style="float: left;margin-top: 12px">Submit</button>
                      </form>
                    </div>
                </div>
            </div>
                <div class="invoicelist">
                    <div class="table-header">
                        <h3>Product List</h3>
                        <hr>
                    </div>
                    <div class="table-list">
                        <table id="table">
                            <tr>
                                <th class="col col-1">#Id</th>
                                <th class="col col-2">Name</th>
                                <th class="col col-3">Description</th>
                                <th class="col col-4">Vendor</th>
                                <th class="col col-5">Create Date</th>
                                <th class="col col-6">Edit</th>
                            </tr>


                        {% for product in product_list %}

                       <tr>
                              <td>#{{ product.id }}</td>
                              <td>{{ product.name }}</td>
                              <td>{{ product.description|truncatechars:20 }}</td>
                              <td>{{ product.vendor }}</td>
                              <td>{{ product.create_date|date:"Y-m-d" }}</td>

                          <td><a href="{% url 'product_update' product.id %}"><i class="far fa-file-alt"></i></a></td>
                          </tr>
                        {% endfor %}



                        </table>
                    </div>
                </div>

              </div>
            </div>

{% endblock %}
