{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <title>RESPO CARE BANGLADESH</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
	{% include 'css.html' %}

	<style>
  canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
  </head>
  <body>

  	{% include 'header.html' %}
  	{% include 'sidebar.html' %}
  	{% block contain %}
	{% endblock %}
<!--                 <div class="container-footer">
                    <p>&copy; 2018 Respo Care Bangladesh. All Rights Reserved. </p>
                </div> -->


{% include 'js.html' %}
{% block js %}{% endblock %}
</body>
</html>
