{% load staticfiles %}

<div class="header-main">
  <div style="padding:1.4%;background-color:#65aa8ae6;font-family: 'Ubuntu', sans-serif;">
    <p style="font-weight: bold;color: #fff;">RespoCare</p>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">
      <button type="button" name="button" style="font-size: 10px;margin-top: -24px;background-color: #285f4599;">Logout</button>
    </a>
    <button type="button" name="button" style="font-size: 10px;margin-top: -24px;background-color: #285f4599;margin-right: 5px;border-radius: 0px;cursor: auto;">Welcome, {{ request.user }}</button>
    {% endif %}
  </div>
</div>
