{% if request.user.is_authenticated %}
<div class="sidenav">
<ul>
    <li><a href="{% url 'home' %}" class="active"><i class="fas fa-home"></i> home</a></li>
    <li><a href="{% url 'product_list' %}"> <i class="fas fa-shopping-cart"></i> products</a></li>
    <li><a href="{% url 'inventory_list' %}"> <i class="fas fa-store"></i> inventory</a></li>
    <li><a href="{% url 'invoice_list' %}"> <i class="fas fa-file-invoice-dollar"></i> invoice</a></li>
</ul>
</div>
{% endif %}
