{% extends "base.html" %}
{% block content %}
<div class="col-sm-4 col-sm-offset-4">
<form class="form-horizontal" method='POST' action='' enctype='multipart/form-data'>
{% csrf_token %}
{{ form }}
  <div class="form-group">
    <input type='submit' class='btn btn-primary' value='{{ title }}' />
  </div>
</div>
</form>


{% endblock content %}
