body {
`   margin: 0px;
	padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
a, li {
	list-style: none;
	text-decoration: none;
    color: #333;
}

#id_name{
	width: 57%;
}

.right {
	float: right;
}
.left {
	float: left;
}
.main-header {
	width: 100%;
	height: 100px;
	background: cadetblue;
	line-height: 100px;
}
.logo {
	font-size: 30px;
	margin-left: 50px;
}
.logo a {
	color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
.user.right a {
    height: auto;
    width: 50px;
    display: block;
}
.user img{
    width: 100%;
	border-radius: 50%;
	margin-right: 30px;
	height: 100%;
}
.user {
	margin-right: 40px;
}
button {
    text-align: center;
    float: right;
    padding: 10px;
    background-color: #ff4c52;
    border: 0px solid teal;
    border-radius: 3px;
    color: #fff;
}
#myBtn {
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    padding-top: 0px
}

.modal-header {
    padding: 20px 16px;
    background-color: cadetblue;
    color: white;
}

.modal-body {padding: 20px 16px;}

.modal-footer {
    padding: 20px 16px;
    background-color: cadetblue;
    color: white;
}
.sidenav {
	width: 15%;
    box-shadow: 0px 1px 3px #000000b3;
    height: 110vh;
    float: left;
   /* margin-left: -15%;*/
}
.sidenav ul {
	margin: 0px;

padding: 0px;
}
.sidenav ul li {
    display: block;
}
.sidenav ul li a {
    padding: 10px 0px 10px 20px;
	display: block;
	/* font-size: 20px; */
    font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	color: #333;
}
.sidenav ul li a:hover {
	background: #7575751a;
}
.active {
	background: #7575751a;
}
.container {
	width: 85%;
	overflow: hidden;
}
.inner-container {
	padding: 40px;
}
.info {
	overflow: hidden;
	margin-left: 0px;
}
.info-box {
    padding: 15px;
    width: 28.62%;
    float: left;
    background-color: #65aa8ae6;
    margin-left: 0;
    margin-right: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: bold;
}
.info-box .right {
	text-align: right;
	margin-top: 40px;
}
.info-box .left i {
    width: 70px;
    font-size: x-large;
    background-color: #0fa15c;
    color: #FFF;
    border: 1px solid #0fa15c;
    border-radius: 3px;
    height: 70px;
    text-align: center;
    line-height: 70px;

}
.table-header {
    margin: 30px 0px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
hr {
    color: wheat;
}
#table {
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#table td, #table th {
    border: 1px solid #ddd;
    padding: 17px;
    border-radius: 8px;
    text-align: left;
}

#table tr:hover {background-color: #fff;}

.container-footer {
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
}
