{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Invoice</title>
    <link href="{% static 'css/pdf/pdf.css' %}" rel="stylesheet">
    <link href="{% static 'css/pdf/pdf-narrow.css' %}" rel="stylesheet">
    <style>
      .invo_heading{
        font-size: 20px;
        font-weight: bold;

      }

      .invo_color{
        color: #347ab4 !important;
      }
      .inv_table{
        background-color: #edededcc !important;
        color: #7f7f7f !important;
      }

      thead { display: table-header-group }
      tfoot { display: table-row-group }
      tr { page-break-inside: avoid }

    </style>
  </head>

  <body>

    <div class="container">
      <div class="row marketing">

<div class="row">
        <div class="col-xs-6">
          <div class="col-xs-12">
          <div class="com_container" style="line-height: 16px;">
            <p class="invo_color" style="font-size: 20px;font-weight: bold;margin-bottom:0px">
              RespoCare
             </p>
             <small style="font-size: 13px;font-weight: normal;">(Specialist Respiratory Care)</small><br>
              <small class="invo_color" style="font-size: 13px;font-weight: normal;">
                155 (1st Floor),
                Aziz Medicine & Medical Equipment Market,
                Shahbag, Dhaka-1000.<br>
                Mobile: 01712-166060, 01943-795007 <br>
                E-mail: carerespo@gmail.com
              </small>
          </div>
          </div>
        </div>

        <div class="col-xs-6">
          <img src="{% static 'images/logo.png' %}" style="width: 50%;float: right;">
        </div>

        <div class="col-xs-12">
          <center class="invo_heading" style="margin-top: 4%;">INVOICE</center>
          <br>
          <br>
          <br>
        </div>
</div>

<div class="row">
        <div class="col-xs-6">
          <div class="col-xs-12">
            <small style="text-decoration: underline;">CLIENT INFO: </small>
          </div>
          <div class="col-xs-12" style="font-size: 13px;">
            {{ invoice_obj.invoice_to|linebreaks }}
          </div>
        </div>

        <div class="col-xs-6">
            <div class="col-xs-4">
              <small>INVOICE ID</small>
            </div>
            <div class="col-xs-8" style="border-left: 1px solid #7f7f7f;">
              #{{ invoice_obj.id }}
            </div>


            <div class="col-xs-4">
              <small>DATE</small>
            </div>
            <div class="col-xs-8" style="border-left: 1px solid #7f7f7f;">
              {{ invoice_obj.invoice_date|date:"Y-m-d" }}
            </div>
        </div>

</div>



<div class="col-xs-12" style="margin-top: 50px">
  <table class="table table-bordered">
    <thead>
      <tr class="inv_table">
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Line Total</th>
      </tr>
    </thead>
    <tbody>




{% for pro in invoice_obj.invoiceproduct_set.all %}
   <tr class="invoice_product_div">
    <td>{{ pro.product.name }}</td>
    <td>{{ pro.price }}</td>
    <td>{{ pro.quantity }}</td>
    <td>{{ pro.total_price }}</td>
  </tr>
{% endfor %}
<tr class="invoice_product_div">
 <td></td>
 <td></td>
 <td>Discount</td>
 <td>{{ invoice_obj.discount }} %</td>
</tr>
<tr class="invoice_product_div">
<td></td>
<td></td>
<td>Total</td>
<td>{{ invoice_obj.total_invoice_price }} TK</td>
</tr>



    </tbody>
  </table>
</div>


    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          Note: <br>
          {{ invoice_obj.invoice_note|linebreaks }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <div class="pull-right">
            <small>-----------------------------</small><br>
            <small>(company signature)</small>
          </div>
        </div>
      </div>
    </div>

      </div>


    </div>

  </body>
</html>
